{% extends 'parentadmindash.html' %}
{% load crispy_forms_tags %}
{% block content %}

 <div class ="col-lg-12">
     {% for i in messages %}
     <div class="alert alert-info" role="alert">
         {{i}}
     </div>
     {% endfor %}
<div class="card" style="width: 36rem;">
            <div class="card-body">
                     <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-success">Submit</button>
                     </form>
           </div>
        </div>
 </div>

{% endblock %}