{% extends 'parentadmindash.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">

        <div class="card-header  bg-primary">
            <strong class="card-title " style="color:white">HOSTEL DETAILS</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
        <th>SI NO</th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>CONTACT NO</th>
        <th>IMAGES</th>
        <th>TOTAL ROOMS</th>
        <th>OCCUPIED</th>
        <th>RENT</th>
        <th>FACILITIES</th>
    </tr>
        {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.Hostel_name}}</td>
        <td>{{i.Hostel_address}}</td>
        <td>{{i.Phone_no}}</td>
        <td><img src="{{i.Hostel_Images.url}} "height="30px"></td>
        <td>{{i.Total_room}}</td>
        <td>{{i.Occupied_room}}</td>
        <td>{{i.Room_rent}}</td>
        <td>{{i.Room_facilities}}</td>

    </tr>
    {% endfor %}
                </thead>
</table>
        </div>
</div>

{% endblock %}