{% extends 'parentadmindash.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="class">

        <div class="card-header  bg-primary">
            <strong class="card-title " style="color:white"> IN & OUT </strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
<tr>
        <th>SI NO</th>
        <th>DATE</th>
        <th>NAME</th>
        <th>REASON</th>
        <th>OUT_TIME</th>
        <th>IN_TIME</th>
        <th>STATUS</th>


    </tr>
        {% for i in status %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.date}}</td>
        <td>{{i.student}}</td>
        <td>{{i.reason}}</td>
        <td>{{i.out_time}}</td>
        <td>{{i.in_time}}</td>
        <td>
            {% if i.status == 0 %}
            <a class="btn btn-warning" href="">OUT</a>

            {% elif i.status == 1 %}
            <button class ="btn btn-success">IN</button>



            {% endif %}
        </td>

    {% endfor %}
                </thead>
</table>
        </div>
</div>

{% endblock %}