{% extends 'adminindex.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">

        <div class="card-header  bg-primary">
            <strong class="card-title " style="color:white">STUDENT REGISTRATION</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
  <tr>
        <th>SI NO</th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>CONTACT NO</th>
        <th>EMAIL</th>
        <th>IMAGES</th>
        <th>COURSE</th>
        <th>APPROVE</th>
        <th>DELETE</th>


    </tr>
        {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.Phone_no}}</td>
        <td>{{i.email}}</td>
        <td><img src="{{i.photo.url}}" height="30px"></td>
        <td>{{i.course}}</td>
        <td>
            {% if i.approval_status == 0 %}
            <a class="btn btn-warning" href="{% url 'approve_student' i.user_id %}">Approve</a>
            {% elif i.approval_status == True %}
            <button class ="btn btn-success">Approved</button>
            {% else %}
            <button class ="btn btn-warning">Rejected</button>
            {% endif %}
        </td>
        <td>
            <form action="{% url 'reject_student' i.user_id %}" method="post">
                {% csrf_token %}
                <button type ="submit" class="btn btn-danger">Delete Student</button>

            </form>
        </td>

    </tr>
    {% endfor %}
                </thead>
</table>
        </div>
</div>
<div class="card">

        <div class="card-header  bg-primary">
            <strong class="card-title " style="color:white">PARENT REGISTRATION</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
  <tr>
        <th>SI NO</th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>STUDENT NAME</th>
        <th>CONTACT NO</th>
        <th>EMAIL</th>
        <th>IMAGES</th>
        <th>APPROVE</th>
        <th>DELETE</th>

    </tr>
        {% for j in data1 %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{j.name}}</td>
        <td>{{j.address}}</td>
        <td>{{j.student_name}}</td>
        <td>{{j.Phone_no}}</td>
        <td>{{j.email}}</td>
        <td><img src="{{j.photo.url}}" height="30px"></td>
        <td>
            {% if j.approval_status == 0 %}
            <a class="btn btn-warning" href="{% url 'approve_parent' j.user_id %}">Approve</a>
            {% elif j.approval_status == True %}
            <button class ="btn btn-success">Approved</button>
            {% else %}
            <button class ="btn btn-warning">Rejected</button>
            {% endif %}
        </td>
        <td>
            <form action="{% url 'reject_parent' j.user_id %}" method="post">
                {% csrf_token %}
                <button type ="submit" class="btn btn-danger">Delete Parent</button>

            </form>
        </td>

    </tr>
    {% endfor %}
                </thead>
</table>
        </div>
</div>

{% endblock %}